@font-face {
	font-family: 'PressStart2P';
	src: url('/fonts/SankofaDisplay-Regular.ttf') format('truetype');
}
a:link , a:hover , a:visited , a:active {
	color: var(--colorActive);
	text-decoration: none;
} 


body,
html {
	height: 100vh;
	width: 100vw;
	color: var(--colorFont);
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	background-color: var(--colorBodyBackground);
	/* background-color: var(--colorBackground); */
}

.logo {
	/* font-family: 'PressStart2P', sans-serif; */
	text-transform: uppercase;
}



* {
	box-sizing: border-box;
}

/* .markdown-body a,
a:link {
	text-decoration: none;
	color: var(--colorLink) !important;
}

a:hover {
	color: var(--colorHover)
}

a:visited {
	color: var(---colorVisited)
}

a:active {
	color: var(--colorActive)
} */


::-webkit-scrollbar {
	width: var(--scrollbarWidth);
}

p,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
i {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

header,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: var(--colorHomeItem); */
}

header {
	/* border-bottom: var(--borderStyle); */
	height: var(--headerHeight);
	padding: 1rem;
}



.headerBox,
.officialBox {
	width: var(--homeWidth);
	margin: auto;

}

.headerBox {
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	height: 100%;
	border: var(--border);
}

.official {}

.img {
	width: var(--imgWidth);
}

footer {
	font-size: 12px;
	color: var(--colorFontInvert);
	background-color: var(--colorBodyBackgroundInvert);
	/* border-top: var(--borderStyle); */
	height: var(--footerHeight);
}


main {
	padding: 0;
	margin: 0;
	min-height: var(--mainHeight)
}

header,
footer,
main {
	width: 100vw;
}

section {
	padding: 2rem;
	width: var(--homeWidth);
	margin: auto;
	/* background-color: var(--colorHomeItem); */
	min-height: var(--mainHeight);
	border-left: var(--borderStyle);
	border-right: var(--borderStyle);
	position: relative;
}

section h1 {
	font-size: 2rem;
	padding: 3rem 0;
}

article {
	margin: auto;
	padding: 1rem;
}

p {
	line-height: 1.75rem;
	color: gray;
	padding-top: 2rem;
}

time {
	color: var(--colorDate);
}


/* h1,h2,h3,h4,h5,h6 */
h2 {
	font-size: 1.5rem;
	font-weight: bolder;
}


/* class */

.home-date {
	color: var(--colorDate);
	padding: 1rem;
	font-size: 12px;
}


.home-mobile-item,
.home-tablet-item {
	background-color: var(--colorHomeItem);
	border: var(--borderStyle);
}

.home-mobile-item {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	align-items: center;
}

.home-mobile-item-img {
	background-repeat: no-repeat;
	background-size: cover;

}

.home-mobile-item-img,
.home-mobile-item-img-play {
	width: 393px;
	height: 852px;
	background-position: center;
	background-color: var(--colorImage);
}

.home-mobile-item-img-play {
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(6px);
	background-color: rgba(255, 255, 255, .6);
	opacity: .2;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s ease-in-out;
}

.home-mobile-item-img-play:hover {
	opacity: 1;
	backdrop-filter: blur(6px);
}


.home-mobile-item .home-mobile-item-detail {
	width: calc(var(--homeWidth) - var(--mobileWidth));
	text-align: right;
	display: flex;
	/* 启用 Flexbox */
	flex-direction: column;
	/* 默认从上到下排列 */
	justify-content: flex-end;
	/* 将元素从底部对齐 */
	height: 852px;
	padding: 2rem;
}

.home-item-detail-title {
	padding-bottom: 2rem;
}



/* tablet */
.home-page-content-tablet-item {
	display: flex;
	flex-direction: column;
}

.home-tablet-item-img,
.home-tablet-item-img-play {
	width: 100%;
	height: 495px;
	background-color: var(--colorImage);
	background-position: center;
}

.home-tablet-item-img-play {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	font-size: 2rem;
	position: absolute;
	top: 0;
	left: 0;
}

.home-tablet-item-detail {
	padding: 2rem;
}

.home-item-detail-desc {
	color: var(--colorDesc);
	line-height: 2.6rem;
}

.home-item-detail-desc::after {
	content: '"';
	font-size: 1.2rem;
}

.home-item-detail-desc::before {
	content: '"';
	font-size: 1.2rem;
}

.between {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
}

.share-list {}

.read-more {}


.icon10 svg {
	height: 10px;
}

.icon16 svg {
	height: 16px;
}

.icon32 svg {
	height: 32px;
}

.table-of-contents {
	position: -webkit-sticky;
	/* Safari 支持 */
	/* position: sticky; */
	position: fixed;
	/* 使目录随滚动固定 */
	top: 0;
	/* 距离顶部 2rem */
	height: var(--mainHeight);
	left: 0;
	width: 280px;
	overflow-x: hidden;
	/* 目录的宽度, 可以根据需要调整 */
	/* background-color: var(--colorHomeItem); */
	/* 与内容区域相同的背景颜色 */
	padding: 1rem;
	/* border-left: var(--borderStyle); */
	/* 与内容区域一致的边框 */
	min-height: 100vh;
	/* 使目录至少占据整个视口的高度 */
	overflow-y: auto;
	/* 如果内容过长, 可以滚动 */
}
.table-of-contents:hover {
	width: 30vw;
	background-color: var(--colorOpacity);
	backdrop-filter: blur(6px);
}
.table-of-contents-content{
	width: 30vw;

}

/* news */
.home-item {
	width: var(--homeWidth);
	margin: auto;
	margin-bottom: 2rem;
}

.home-vertical,
.home-horizontal {}

.home-horizontal {
	background-color: var(--colorBlockBackground);
	border: var(--borderStyle)
}

.home-image {
	padding: 2%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home-horizontal .home-image img {
	width: 100%;
	/* height:495px; */
	/* width: 100%; height:336px; */
}

.home-vertical .home-image img {
	width: 393px;
	/* height: 852px; */
}

.home-msrc {
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, .6);
	backdrop-filter: blur(6px);
}

.home-image:hover .home-msrc {
	transition: all .3s ease-in-out;
	display: block;
	position: absolute;
}

.home-msrc a {
	display: block;
	width: 120px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.home-vertical {
	background-color: var(--colorBlockBackground);
	border: var(--borderStyle);
	display: flex;
	justify-content: space-between;
}

.home-vertical-detail {
	width: calc(var(--homeWidth) - var(--mobileWidth));
	text-align: left;
	display: flex;
	/* 启用 Flexbox */
	flex-direction: column;
	/* 默认从上到下排列 */
	justify-content: flex-end;
	/* 将元素从底部对齐 */
	/* height: 852px; */
	padding: 2rem;
}

.home-vertical-reverse-detail {
	width: calc(var(--homeWidth) - var(--mobileWidth));
	text-align: right;
	display: flex;
	/* 启用 Flexbox */
	flex-direction: column;
	/* 默认从上到下排列 */
	justify-content: flex-end;
	/* 将元素从底部对齐 */
	height: 852px;
	padding: 2rem;
}



.markdown-body p {
	color: rgb(95, 95, 95);
}

.logosvg {
	height: 42px;
	width: 202px;
	background-repeat: no-repeat;
	background-size: contain;
}



.home-item-box {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.home-item-img {
	overflow: hidden;
	width: calc(50% - 8px);
	/* 减去左右两边的外边距 */
	margin: 4px;
	padding-bottom: 6rem;
	display: flex;
	justify-content: center;
	position: relative;
}





.flag {
	position: absolute;
	top: 0;
	left: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: white;
	width: 50px;
	/* 正方形宽度 */
	height: 50px;
	/* 正方形高度 */
	background-color: rgba(255, 0, 0, .8);
	/* 正方形颜色 */
}

.flag::before,
.flag::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
}

.flag::before {
	bottom: -25px;
	/* 垂帘向下偏移 */
	left: 0;
	/* 靠左 */
	border-width: 25px 25px 0 0;
	/* 直角朝左上方 */
	border-color: rgba(255, 0, 0, .8) transparent transparent transparent;
	/* 颜色和 transparent 部分 */
}

.flag::after {
	bottom: -25px;
	/* 垂帘向下偏移 */
	right: 0;
	/* 靠右 */
	border-width: 25px 0 0 25px;
	/* 直角朝右上方 */
	border-color: rgba(255, 0, 0, .8) transparent transparent transparent;
	/* 颜色和 transparent 部分 */
}
















.home-item-img-box {
	filter: grayscale(100%);
}

.home-item-img:hover .home-item-img-box {
	opacity: 1;
	filter: grayscale(0%);
}

/* 
.home-item-img::after {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0),rgba(255,255,255,.6), rgba(60, 60, 50, 0));
	width: 100%;
	top: 20%;
	height: 300px;
} */

.home-item-img-box {
	width: 100%;
	border-radius: var(--borderRadius);
	height: 0;
	padding-top: 56.25%;
	position: relative;

	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	/* 使伪元素的绝对定位基于此元素 */
}


* {
	transition: all .3s ease-in-out;
}

i {
	display: inline-block !important;
	margin: 4px;
	height: 32px;
	width: 32px;
	background-image: url('icon.png');
}


.hoverbox {
	position: relative;
}

.hoverbox:hover .hoverboxpic {
	display: block;
}

.hoverboxpic {
	display: none;
	top: 16px;
	left: 16px;

	position: absolute;
}








.title {
	width: 100%;
	padding-left: 1rem;
	font-size: var(--sizeTitleFont);
	color: var(--colorHeaderTitle);
}

/* 默认的 .menu 样式 */
.menu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: right;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	color: var(--colorHeaderMenu);
	display: flex;
	justify-content: right;
	align-items: center;
}

.menu ul li {
	padding: 0 1rem;
}

.menu svg.toggle-menu {
	/* 可根据需要调整图标的大小和颜色 */
	cursor: pointer;
}

.fullbackground {
	/* background-image: url('../image/1.svg'); */
	background-size: cover;
	background-color: var(--colorBodyBackground) !important;
}

.home-brand {
	width: 100vw;
	height: var(--mainHeight);
	position: relative;
}

[class*='home-brand-content'] {
	margin: auto;
}

[class*='home-brand-box'] {
	width: 1280px;
	margin: auto;
}

.bannerTXT,
.bannerIMG,
.bannerBEFORE {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	height: var(--mainHeight);
}

.home-brand-left,
.home-brand-right {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: yellow;

}

.home-brand-left {
	left: 0;
}

.home-brand-right {
	right: 0;
}

.home-brand-left::after,
.home-brand-left::before,
.home-brand-right::after,
.home-brand-right::before {
	content: attr(data-text);
	display: block;
}

.home-brand-content-company,
.home-brand-content-message {
	width: 100vw;
	height: var(--mainHeight);
	padding: 2rem;
	;
	display: none;
	justify-content: center;
	align-items: center;
}

.home-brand-left:hover,
.home-brand-right:hover {
	/* height: var(--mainHeight); */
	background-color: rgba(0, 0, 0, .3);
	backdrop-filter: blur(3px);
	display: flex;
	justify-content: space-between;
}

.home-brand-left:hover .home-brand-content-company {
	display: flex !important;
	position: absolute;
	top: 0;
	left: 0;
}

.home-brand-right:hover .home-brand-content-message {
	display: flex !important;
	position: absolute;
	top: 0;
	right: 0;
}

.home-brand-left-icon,
.home-brand-right-icon {
	height: 32px;
	width: 32px;
	background-image: url('../image/icon.svg');
	background-position-x: 32px;
}

.home-brand-right-icon {
	transform: scale(-1);
}

.home-brand-content-banner {
	height: 60vh;
	width: 100%;
	position: relative;
	background-color: white;
	background-image: url('../image/1.svg'),
		url('../image/1.svg');
	background-size: auto 100%, auto 100%;
	/* 确保两张图片高度一致 */
	background-position: 0 0, 100% 0;
	animation: scrollBackground 30s linear infinite;
}

@keyframes scrollBackground {
	from {
		background-position: 0 0, 100% 0;
	}

	to {
		background-position: -100% 0, 0 0;
	}
}

.home-brand-content-recently {
	padding: 2rem;
	background-color: rgb(255, 179, 0);
}

.recentlyPost {
	display: flex;
	flex-direction: row;
}

.recentlyPost li {
	width: 18%;
	background-color: #1D1D1D;
	margin: 1%;
	;
	position: relative;
}

.recentlyPost li::before {
	content: '';
	display: block;
	z-index: 2;
	padding-top: 100%;
}

.recentlyPost li::after {
	content: attr(data-text);
	display: block;
	background-color: rgb(255, 179, 0);
	color: #1D1D1D;
	position: absolute;
	z-index: 3;
	font-size: 1.3rem;
	padding: 8px 1rem;
	top: 1rem;
	left: 1rem;
}

.home-brand-content-service {
	background-color: #3E2E1A;
	height: 300px;
}

.home-brand-content-partnership {
	background-color: #3E2E1A;
}


.companylist {
	width: 800px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.companylist li {
	position: relative;
	/* 使子元素可以相对于它进行绝对定位 */
	width: 18%;
	margin: 1%;
	box-sizing: border-box;
}

.companylist li::before {
	content: '';
	/* 必须有 content 属性才能让伪元素生效 */
	display: block;
	padding-top: 100%;
	background-image: url('../image/3.svg');
	background-repeat: no-repeat;
	background-size: cover;
	/* 创建一个正方形 */
	/* 给正方形添加背景色以便可视化 */
}

.companylist li::after {
	width: 100%;
	display: block;
	padding: 1rem 0;
	text-align: center;
	content: attr(data-text);
}

input,
button {
	height: 3rem;
}

textarea {
	height: 9rem;
	border-width: 0;
}

input,
textarea button {
	width: 100%;
	padding: 1rem;
	border: 0;
}


.abutton {
	display: flex;
	align-items: center;

}

.desc {
	opacity: .6;
}


.official_itema ul,
.official_itemb ul {
	width: var(--homeWidth);
	margin-left: auto !important;
	margin-right: auto !important;
	display: flex;
	justify-content: space-between;
}

.official_itema ul li,
.official_itemb ul li {
	width: 100%;
	border: var(--border);
	padding: 1rem;
	margin: 6px;
	background-color: #0d0d0d;
}

.official_itema ul {
	margin-bottom: -60px;
}

.official_itemb ul {
	margin-bottom: 60px;
}

.official_itemb ul li {
	height: 300px;
}


/*目录高亮当前链接*/
/* 目录链接激活样式 */
#toc-nav{
	color:rgb(181, 181, 181)
}
#toc-nav a.active,
.active-heading {
	color: #000000 !important;
	font-weight: bold !important;
	text-decoration: underline !important;
}









.home-page-content {
	width: var(--homeWidth);
	margin: auto;
}

