<div class="officialBox" style="padding-top:1rem;">
	<div class="officialBox_list">
		<a href="https://db.lehuye.com/map">
			<div class="official_item_title"> 数字画廊 </div>
			<div class="official_item_desc"> #数字画廊 </div>
		</a>
	</div>
	<div class="officialBox_list">
		<a href="https://db.lehuye.com/map">
			<div class="official_item_title"> 数字画廊 </div>
			<div class="official_item_desc"> #数字画廊 </div>
		</a>
	</div>
	<div class="officialBox_list">
		<a href="https://db.lehuye.com/map">
			<div class="official_item_title"> 数字画廊 </div>
			<div class="official_item_desc"> #数字画廊 </div>
		</a>
	</div>
</div>

<!-- <script>
// 立即跳转到目标网址
window.location.href = "https://db.lehuye.com";
</script> -->