<main
  class="w-full max-w-none dark:bg-gray-900 mx-auto min-h-screen transition-all duration-300 flex flex-col md:flex-row gap-0"
>
  <!-- 英雄区域 -->
  <section
    class="w-full flex-1 dark:bg-gray-800 p-0 relative overflow-hidden max-h-screen"
  >
    {{ template "official/layout/changelanuge.html" .}}

    <div class="w-full h-full p-2 flex flex-row gap-6" style="background-image: url('/bg.webp'); background-size: contain;">
      <!-- <img
        src="/bg.webp"
        class="h-full w-full max-h-full object-center object-contain"
        alt=""
      /> -->
    </div>
  </section>
  {{ template "official/layout/right.html" .}}
</main>

{{ template "official/layout/footer.html" . }}
