<!DOCTYPE html>
<html lang="{{ or .Site.Language.Lang "en" }}" dir="{{ or .Site.Language.LanguageDirection "ltr" }}">
<head>
  {{ partial "head.html" . }}
</head>
<!-- <body class="light" style="background-color:rgb(255, 255, 255);"> -->
  <body class="light {{ if eq .Site.Params.webtype "official" }}fullbackground{{ end }}">
  <!-- <body class="light {{ if eq .Site.Params.webtype "official" }}fullbackground{{ end }}" style="background-color:#F5F5F5;"> -->
  {{ .Site.Params.setting.backgroundColor }}
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>