{{ define "main" }}
{{ $logo := resources.Get "image/logo.svg" }}
{{ $illustortar := resources.Get "image/1.svg" }}
{{ $illustortarLe := resources.Get "image/2.svg" }}
{{ $illustortarC := resources.Get "image/3.svg" }}
{{ $video := resources.Get "image/example2.webm" }}
{{ $webtype := .Site.Params.webtype }} <!-- 获取站点配置中的 webtype -->


{{ if eq $webtype "official" }}
{{ $context := dict
"Title" .Title
"Tags" .Params.tags
"Illustortar" $illustortar.Permalink
"IllustortarLe" $illustortarLe.Permalink
"IllustortarC" $illustortarC.Permalink
"Permalink" .Permalink
"Logo" $logo.Permalink
"Can" .Params.can
"Partnership" .Params.partnership
"Company" .Params.company
"Companylist" .Params.companylist
"Message" .Params.Messag
"Type" .Params.Type
"Image" .Params.Image
"YouTube" .Params.youtube
"Bilibili" .Params.bilibili
"Desc" .Params.desc
"Weight" .Params.weight
"Video" $video.RelPermalink

}}
{{ partial "official.html" $context }} <!-- 加载 brand.html partial -->
{{ end }}

{{ if eq $webtype "blog" }}
<div class="home-page-content">
  <div class="home-item-box">
    {{ range sort (where .Site.Pages "Section" "posts") ".Params.weight" "asc" }}
    {{ if eq .Params.position "home" }}
    {{ if eq .Params.arrange "horizontal" }}
    {{/* 创建一个新的上下文对象来传递给 partial */}}
    {{ $context := dict
    "Title" .Title
    "Tags" .Params.tags
    "Position" .Params.position
    "Sitetitle" .Site.Title
    "Permalink" .Permalink
    "Date" .Params.Date
    "Type" .Params.Type
    "Image" .Params.Image
    "YouTube" .Params.youtube
    "Bilibili" .Params.bilibili
    "Desc" .Params.desc
    "Weight" .Params.weight
    }}
    {{ partial "blog.html" $context }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</div>

<div>
  {{ range first 10 .Site.RegularPages }}
  {{ .Render "summary" }}
  {{ end }}
</div>
{{ end }}
{{ end }}