{{ define "main" }}
<div class="home-page-content">	
	<div class="home-item-box">
	{{ range sort (where .Site.Pages "Section" "posts") ".Params.weight" "asc" }}
		{{ if eq .Params.position "home" }}
		{{ if eq .Params.arrange "horizontal" }}
		{{ partial "item.html"
		(
		dict
		"Title" .Title
		"tags" .Params.tags
		"Position" .Params.position
		"Sitetitle" .Site.Title
		"Permalink" .Permalink
		"Date" .Params.Date
		"type" .Params.Type
		"image" .Params.Image
		"youtube" .Params.youtube
		"bilibili" .Params.bilibili
		"desc" .Params.desc
		"weight" .Params.weight
		)}}
		{{ end }}
		{{ end }}

	{{ end }}
	</div>
</div>
<div>
	{{ range first 10 .Site.RegularPages }}
	{{ .Render "summary" }}
	{{ end }}
</div>
{{ end }}