{{ define "main" }}
<div class="categories">

  {{ .Content }}

  <div class="categories-list">
    {{ $weights := .Site.Params.categories }}
    {{ $terms := .Data.Terms.Alphabetical }}
    {{ $sorted := slice }}

    {{ range $term := $terms }}
      {{ $termName := $term.Name }}
      {{ $weight := index $weights $termName | default (dict "weight" 999) }}
      {{ $sorted = $sorted | append (dict "term" $term "weight" $weight.weight) }}
    {{ end }}

    {{ range sort $sorted "weight" }}
      {{ $t := .term }}
      <div class="categories-box">
        <h1><a href="{{ $t.Page.RelPermalink }}">{{ $t.Page.LinkTitle }}</a> ({{ $t.Count }})</h1>
        <ul>
          {{ range $t.WeightedPages }}
            <li>
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
              <sub>({{ len .Content }})</sub>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}