{{ $logo := resources.Get "image/logo.svg" }}
{{ $illustortar := resources.Get "image/1.svg" }}
{{ $illustortarLe := resources.Get "image/2.svg" }}
{{ $illustortarC := resources.Get "image/3.svg" }}
{{ $video := resources.Get "image/example2.webm" }}


<body>

{{ partial "official/header.html" . }}

<main>
	{{ $context := dict
	"Title" .Params.Title
	"Nation" .Params.Nation
	"Addr" .Params.addr
	"Image" .Params.Image
	}}
	{{ partial "official/official-banner.html" $context }}

	{{ partial "official/official-list.html" . }}

</main>

{{ partial "official/footer.html" . }}

</body>