
/* keebone */
.kb-comment-form text,
.kb-comment-form button,
.kb-comment-form input,
.kb-comment-form textarea {
	border-radius: var(--borderRadius);
	border: var(--borderStyle);
	margin: 8px 0;
	padding: 0 1rem;
	width: 100%;
}

.kb-comment-form text,
.kb-comment-form button,
.kb-comment-form input {
	height: 3rem;

}

.kb-comment-form textarea {
	height: 5rem;
	padding-top: 1rem;
}

.kb-comment-list ul {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
}

.kb-comment-list ul li {
	padding: 1rem;
	line-height: 1.75rem;
	border-bottom: var(--borderStyle)
}


.comments {
	padding: 1rem;
	background-color: rgb(248, 248, 248);
	margin-bottom: 1rem;
	border: var(--borderStyle);
}

.commentsList {
	padding: 1rem;
	margin-bottom: 1rem;
	/* border: var(--borderStyle);	 */
}



.message form {
	background-color: #fff;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message input,
textarea {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.message button {
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.message button[type="submit"] {
	background-color: #28a745;
	color: white;
}

.message button[type="reset"],
button[type="button"] {
	background-color: #dc3545;
	color: white;
}

.message button:hover {
	opacity: 0.8;
}

