@font-face {
	font-family: 'PressStart2P';
	src: url('/fonts/SankofaDisplay-Regular.ttf') format('truetype');
}

.logo {
	font-family: 'PressStart2P', sans-serif;
	font-size: 32px;
	text-transform: uppercase;
}

.light {
	--colorBorderStyle: rgb(235, 235, 235);
}

:root {
	--colorBorderStyle: #ECECEC;
	--colorHomeItem: #ffffff;
	--colorBackground: #F6F6F6;
	--colorImage: rgb(237, 237, 237);
	--colorDate: rgb(214, 214, 214);
	--colorDesc: rgb(180, 180, 180);
	--colorLink: #598ecb;
	--colorHover: gray;
	--colorVisited: gray;
	--colorActive: gray;
	--colorPs: rgb(186, 186, 186);
	/* --headerWidth:  */
	--fontSize: 14px;
	--fontFamily: Arial, Helvetica, sans-serif;
	--homeWidth: 1280px;
	--scrollbarWidth: 0px;
	--mobileWidth: 393px;
	--headerHeight: 10rem;
	--footerHeight: 2rem;
	--mainHeight: calc(100vh - var(--headerHeight) - var(--footerHeight));
	--borderStyle: 1px solid var(--colorBorderStyle);
}

* {
	box-sizing: border-box;
}

.markdown-body a,
a:link {
	text-decoration: none;
	color: var(--colorLink) !important;
}

a:hover {
	color: var(--colorHover)
}

a:visited {
	color: var(---colorVisited)
}

a:active {
	color: var(--colorActive)
}

body,
html {
	height: 100vh;
	width: 100vw;
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	background-color: var(--colorBackground);
}

::-webkit-scrollbar {
	width: var(--scrollbarWidth);
}

p,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
i {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

header,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: var(--colorHomeItem); */
}

header {
	/* border-bottom: var(--borderStyle); */
	height: var(--headerHeight);
}

footer {
	font-size: 12px;
	color: var(--colorPs);
	/* border-top: var(--borderStyle); */
	height: var(--footerHeight);
}

main {
	padding: 0;
	margin: 0;
	min-height: var(--mainHeight)
}

header,
footer,
main {
	width: 100vw;
}

section {
	padding: 2rem;
	width: var(--homeWidth);
	margin: auto;
	background-color: var(--colorHomeItem);
	min-height: var(--mainHeight);
	border-left: var(--borderStyle);
	border-right: var(--borderStyle);
	position: relative;
}

section h1 {
	font-size: 2rem;
	padding: 3rem 0;
}

article {
	margin: auto;
	padding: 1rem;
}

p {
	line-height: 2.75rem;
}

time {
	color: var(--colorDate);
}


/* h1,h2,h3,h4,h5,h6 */
h2 {
	font-size: 1.5rem;
	font-weight: bolder;
}


/* class */

.home-date {
	color: var(--colorDate);
	padding: 1rem;
	font-size: 12px;
}

.home-page-content {
	width: var(--homeWidth);
	margin: auto;
}

.home-mobile-item,
.home-tablet-item {
	background-color: var(--colorHomeItem);
	border: var(--borderStyle);
}

.home-mobile-item {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	align-items: center;
}

.home-mobile-item-img {
	background-repeat: no-repeat;
	background-size: cover;

}

.home-mobile-item-img,
.home-mobile-item-img-play {
	width: 393px;
	height: 852px;
	background-position: center;
	background-color: var(--colorImage);
}

.home-mobile-item-img-play {
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(6px);
	background-color: rgba(255, 255, 255, .6);
	opacity: .2;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s ease-in-out;
}

.home-mobile-item-img-play:hover {
	opacity: 1;
	backdrop-filter: blur(6px);
}


.home-mobile-item .home-mobile-item-detail {
	width: calc(var(--homeWidth) - var(--mobileWidth));
	text-align: right;
	display: flex;
	/* 启用 Flexbox */
	flex-direction: column;
	/* 默认从上到下排列 */
	justify-content: flex-end;
	/* 将元素从底部对齐 */
	height: 852px;
	padding: 2rem;
}

.home-item-detail-title {
	padding-bottom: 2rem;
}



/* tablet */
.home-page-content-tablet-item {
	display: flex;
	flex-direction: column;
}

.home-tablet-item-img,
.home-tablet-item-img-play {
	width: 100%;
	height: 495px;
	background-color: var(--colorImage);
	background-position: center;
}

.home-tablet-item-img-play {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	font-size: 2rem;
	position: absolute;
	top: 0;
	left: 0;
}

.home-tablet-item-detail {
	padding: 2rem;
}

.home-item-detail-desc {
	color: var(--colorDesc);
	line-height: 2.6rem;
}

.home-item-detail-desc::after {
	content: '"';
	font-size: 1.2rem;
}

.home-item-detail-desc::before {
	content: '"';
	font-size: 1.2rem;
}

.between {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
}

.share-list {}

.read-more {}

.header {
	width: 100%;
	padding: 0 2rem;
}

.header ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon10 svg {
	height: 10px;
}

.icon16 svg {
	height: 16px;
}

.icon32 svg {
	height: 32px;
}

.table-of-contents {
	position: -webkit-sticky;
	/* Safari 支持 */
	/* position: sticky; */
	position: fixed;
	/* 使目录随滚动固定 */
	top: var(--headerHeight);
	/* 距离顶部 2rem */
	left: 0;
	width: 300px;
	/* 目录的宽度，可以根据需要调整 */
	/* background-color: var(--colorHomeItem); */
	/* 与内容区域相同的背景颜色 */
	padding: 1rem;
	/* border-left: var(--borderStyle); */
	/* 与内容区域一致的边框 */
	min-height: 100vh;
	/* 使目录至少占据整个视口的高度 */
	overflow-y: auto;
	/* 如果内容过长，可以滚动 */
}

#TableOfContents {}

#TableOfContents ul li {
	text-align: left;
	padding: 8px;
}

.comments {
	padding: 1rem;
	background-color: rgb(248, 248, 248);
	margin-bottom: 1rem;
	border: var(--borderStyle);
}

.commentsList {
	padding: 1rem;
	margin-bottom: 1rem;
	/* border: var(--borderStyle);	 */
}

/* keebone */
.kb-comment-form text,
.kb-comment-form button,
.kb-comment-form input,
.kb-comment-form textarea {
	border-radius: 0;
	border: var(--borderStyle);
	margin: 8px 0;
	padding: 0 1rem;
	width: 100%;
}

.kb-comment-form text,
.kb-comment-form button,
.kb-comment-form input {
	height: 3rem;

}

.kb-comment-form textarea {
	height: 5rem;
	padding-top: 1rem;
}

.kb-comment-list ul {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
}

.kb-comment-list ul li {
	padding: 1rem;
	line-height: 1.75rem;
	border-bottom: var(--borderStyle)
}


















/* news */
.home-item {
	width: var(--homeWidth);
	margin: auto;
}
.home-vertical,
.home-horizontal{
}

.home-horizontal {
	background-color: white;
	border: var(--borderStyle)
}
.home-image{
	position:relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.home-horizontal .home-image img{
	width: 100%;
	/* height:495px; */
	/* width: 100%; height:336px; */
}
.home-vertical .home-image img{
	width: 393px;
	/* height: 852px; */
}

.home-msrc{
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
	top:0;
	left:0;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, .6);
	backdrop-filter: blur(6px);
}
.home-image:hover .home-msrc{
	transition: all .3s ease-in-out;
	display:block;
	position: absolute;
}
.home-msrc a{
	display: block;
	width: 120px;
	height:80px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
}

.home-vertical {
	background-color: white;
	border: var(--borderStyle);
	display: flex;
	justify-content: space-between;
}
.home-vertical-detail{
	width: calc(var(--homeWidth) - var(--mobileWidth));
	text-align: left;
	display: flex;
	/* 启用 Flexbox */
	flex-direction: column;
	/* 默认从上到下排列 */
	justify-content: flex-end;
	/* 将元素从底部对齐 */
	/* height: 852px; */
	padding: 2rem;
}

.home-vertical-reverse-detail{
	width: calc(var(--homeWidth) - var(--mobileWidth));
	text-align: right;
	display: flex;
	/* 启用 Flexbox */
	flex-direction: column;
	/* 默认从上到下排列 */
	justify-content: flex-end;
	/* 将元素从底部对齐 */
	height: 852px;
	padding: 2rem;
}



.markdown-body p {
	color: rgb(95, 95, 95);
}

.logosvg{
	height:42px;
	width: 202px;
	background-repeat: no-repeat;
	background-size: contain;
}







@media screen and (max-width: 1439px) {

	/* 在屏幕宽度小于1440px时应用的样式 */
	.table-of-contents {
		display: none;
	}
}

@media screen and (max-width: 780px) {
	.home-page-content,.home-item{
		width: 100%;
	}
	.home-vertical,
	.home-horizontal{
		width: 100%;
		display: flex;
		flex-direction: column;

	}
	.home-vertical .home-image img,
	.home-horizontal .home-image img{
		width:100%
		/* width: 100%;
		height:300px; */
	}
	.home-vertical-detail{
		width: 100%;
	}
	



	section {
		width: 100%;
		font-size: 150%;
	}

	section img {
		width: 100%;
	}

	p {
		line-height: 275%;
	}

	/* 在屏幕宽度小于1440px时应用的样式 */
	.table-of-contents {
		display: none;
	}
}



.flag {
	position: absolute;
	top:0;
	left:1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color:white;
	width: 50px; /* 正方形宽度 */
	height: 50px; /* 正方形高度 */
	background-color: rgba(255, 0, 0,.8); /* 正方形颜色 */
  }
  
  .flag::before,
  .flag::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
  }
  
  .flag::before {
	bottom: -25px; /* 垂帘向下偏移 */
	left: 0; /* 靠左 */
	border-width: 25px 25px 0 0; /* 直角朝左上方 */
	border-color: rgba(255, 0, 0,.8) transparent transparent transparent; /* 颜色和透明部分 */
  }
  
  .flag::after {
	bottom: -25px; /* 垂帘向下偏移 */
	right: 0; /* 靠右 */
	border-width: 25px 0 0 25px; /* 直角朝右上方 */
	border-color: rgba(255, 0, 0,.8) transparent transparent transparent; /* 颜色和透明部分 */
  }















  .home-items{

  }
 .home-item-box{
	display: flex;
	justify-content: flex-start;
 } 

 .home-item-img{
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	height:468px; width: 24%;margin:4px; 		
	opacity: .7;
 }
.home-item-img:hover{
	opacity: 1;
}

*{
	transition: all .3s ease-in-out;
}