.officialBox {
    width: 980px;
    margin: auto;
    /* padding:var(--grid-gap); */
    display: flex;
}

.officialBox_img {
    display: block;
    width: 212px;

}

.officialBox_img::before {
    padding-top: 100%;

}

.officialBox_list {
    padding: var(--grid-gap);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
}

.officialBox_item {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    margin-bottom:1rem;
    padding: var(--grid-gap);
    border: 1px solid var(--color-border);
}

.official_item_title {
    /* font-size: var(--font-size-lg); */
    font-weight: bolder;
}

.official_item_addr {
    font-size: var(--font-size-sm);
    color: var(--color-text-desc);
    opacity: .6;
}

.official_item_desc {
    font-size: var(--font-size-sm);
    color: var(--color-text-ps);
}


@media screen and (max-width: 780px) {
    .officialBox {
        width: 100vw;
        margin: auto;
        /* padding:var(--grid-gap); */
        display: flex;
    }
    .officialBox_list {
    margin: 8px;
    padding: var(--grid-gap);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
}
.officialBox_item{
    flex-direction: column;
    width: 100vw;
}
}