<div class="blog-banner">
	<div class="blog-banner-content">
		<h1>🧑‍💻 上线作品</h1>
		<ul class="blog-project-list">
			<li>
				<a href="https://lehuye.com" target="_blank" rel="noopener">🌐 lehuye.com 官网</a>
				<p>乐乎也官方站点，介绍服务、团队及联系方式。</p>
			</li>
			<li>
				<a href="https://db.lehuye.com" target="_blank" rel="noopener">🎞️ db.lehuye.com</a> | <a href="/posts/a數字盒子">文章介绍</a>
				<p>一个数字媒体数据库，收录各类图像/视频/模型资源。</p>
			</li>
			<li>
				<a href="https://www.figma.com/community/plugin/1486207476692122707" target="_blank" rel="noopener">🧩Lehuye Figma 插件</a> ｜ 
				<a href="posts/figma插件开发及功能点/">文章介绍</a>
				<p>用于设计稿批量导出、颜色提取、图标整理等功能。</p>
			</li>
		</ul>
	</div>
</div>