<div class="blog-item">
  <div class="blog-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </div>

  <div class="blog-desc">
    {{ .Desc }}
  </div>

  <div class="blog-tags">
    {{ range .Tags }}
      <span class="blog-tag">{{ . }}</span>
    {{ end }}
  </div>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?313a3f2cff7eb9894cf75131bb83730b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
