<div class="blog-banner">
	<div class="blog-banner-content">
		<h1>🧑‍💻 线上及工具</h1>
		<ul class="blog-project-list">
			<li>
				<a href="https://lehuye.com" target="_blank" rel="noopener">🌐 lehuye.com 官网</a>
				<p>乐乎也官方站点，介绍服务、团队及联系方式。</p>
				<!-- <iframe style="width: 720px; height: 380px; margin: auto;" src="https://db.lehuye.com" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe> -->
			</li>
			<li>
				<a href="https://db.lehuye.com" target="_blank" rel="noopener">🎞️ db.lehuye.com</a> | <a href="/posts/a數字盒子">文章介绍</a>
				<p>一个数字媒体数据库，收录各类图像/视频/模型资源。</p>
				<img src="http://localhost:1313/posts/%E4%B9%90%E4%B9%8E%E4%B9%9F/5.webp">
			</li>
			<li>
				<a href="https://www.figma.com/community/plugin/1486207476692122707" target="_blank" rel="noopener">🧩Lehuye Figma 插件</a> ｜ 
				<a href="posts/figma插件开发及功能点/">文章介绍</a>
				<p>用于设计稿批量导出、颜色提取、图标整理等功能。</p>
				<img src="http://localhost:1313/posts/figma%E6%8F%92%E4%BB%B6%E5%BC%80%E5%8F%91%E5%8F%8A%E5%8A%9F%E8%83%BD%E7%82%B9/1.webp">
			</li>
		</ul>
	</div>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?313a3f2cff7eb9894cf75131bb83730b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
