<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ .Site.Title}} | {{ .Params.Title }} </title>

<head>
  <meta name="description" content="{{ if .IsHome }}
    {{ .Site.Params.description | plainify | truncate 256 | safeHTMLAttr }}
  {{ else }}
    {{ .Description | default .Summary | plainify | truncate 256 | safeHTMLAttr }}
  {{ end }}">
  <meta name="keywords" content="
{{ if .IsHome }}
  {{ with .Site.Params.keywords }}
    {{ delimit . " , " | plainify | truncate 256 | safeHTMLAttr }}
  {{ end }}
{{ else }}
  {{ if .Params.keywords }}
    {{ delimit .Params.keywords " , " | plainify | truncate 256 | safeHTMLAttr }}
  {{ else if .Keywords }}
    {{ delimit .Keywords " , " | plainify | truncate 256 | safeHTMLAttr }}
  {{ end }}
{{ end }}">
  <meta property="article:tag" content="{{ with .Params.tags }}{{ delimit . " , " }}{{ else }}{{ .Params.tags }}{{ end }}">
  <meta name="author" content="{{ .Site.Params.author }}">

  {{ $styles := resources.Get "css/default.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">

  {{ $markdown := resources.Get "css/markdown/github-markdown-light.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $markdown.Permalink }}">


  {{ $script := resources.Get "javascript/comments.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $script.Permalink }}" defer></script>

  {{ $scriptmain := resources.Get "javascript/main.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $scriptmain.Permalink }}" defer></script>

  {{ $scripthandle := resources.Get "javascript/handle.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $scripthandle.Permalink }}" defer></script>

  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Font Awesome -->
  <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- AOS - Animate On Scroll -->
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

  <script>
tailwind.config = {
  darkMode: 'class', // 必须设置为 'class'，否则 dark: 样式不生效
  theme: {
    // 其他配置...
  }
}
  </script>
</head>