<header class="header">
  <div class="header-inner">
    <div class="header-title">
      <a href="/">{{ .Site.Title }}</a>
    </div>

    <nav class="header-nav">
      <svg class="menu-toggle" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="4" rx="2" ry="2" />
        <rect y="8" width="30" height="4" rx="2" ry="2" />
        <rect y="16" width="30" height="4" rx="2" ry="2" />
      </svg>

      <ul class="nav-menu">
        {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        <li><button class="theme-toggle" onclick="toggleTheme()">主题</button></li>
      </ul>
    </nav>
  </div>
</header>