<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ .Site.Title}} | {{ .Params.Title }} </title>

<meta name="description"
  content="{{ if .IsHome }}
    {{ .Site.Params.description | plainify | truncate 256 | safeHTMLAttr }}
  {{ else }}
    {{ .Description | default .Summary | plainify | truncate 256 | safeHTMLAttr }}
  {{ end }}">
<meta name="keywords" content="
{{ if .IsHome }}
  {{ with .Site.Params.keywords }}
    {{ delimit . ", " | plainify | truncate 256 | safeHTMLAttr }}
  {{ end }}
{{ else }}
  {{ if .Params.keywords }}
    {{ delimit .Params.keywords ", " | plainify | truncate 256 | safeHTMLAttr }}
  {{ else if .Keywords }}
    {{ delimit .Keywords ", " | plainify | truncate 256 | safeHTMLAttr }}
  {{ end }}
{{ end }}">
<meta property="article:tag" content="{{ with .Params.tags }}{{ delimit . " , " }}{{ else }}{{ .Params.tags }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">

<link rel="stylesheet" href="{{ "css/markdown.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/single.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/default.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/var.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/components.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/blog.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/media.css" | relURL }}">

{{ $script := resources.Get "javascript/comments.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $script.Permalink }}" defer></script>

{{ $scriptmain := resources.Get "javascript/main.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $scriptmain.Permalink }}" defer></script>

{{ $scriptssh := resources.Get "javascript/ssh.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $scriptssh.Permalink }}" defer></script>
