<div class="home-brand">




	<div class="bannerTXT" id="texttototo" style="background-image:url('http://localhost:1313/posts/2025%E8%9B%87%E4%B9%8B%E6%98%A5/20241211T1217510800-1.webp');"></div>
	<div class="bannerIMG" id="imgtototo" style="background-image:url('http://localhost:1313/posts/2025%E8%9B%87%E4%B9%8B%E6%98%A5/20241211T1217510800.webp'); "></div>
	<div class="bannerBEFORE" id="imgtototo" style="background-image:url('http://localhost:1313/posts/2025%E8%9B%87%E4%B9%8B%E6%98%A5/20241211T1217510800-2.webp');background-position:center 300px; "></div>

	<div class="home-brand-left">
		<div class="home-brand-left-icon"></div>

		<div class="home-brand-content-company">
			<div class="home-brand-box" style="padding: 3rem;">
				<h1>{{ .Company }}</h1>
				<ul class="companylist">
					{{ range .Companylist }}
					<li data-text="{{.}}"></li>
					{{ end}}
				</ul>
			</div>
		</div>

	</div>

	<div class="home-brand-right">
		<div class="home-brand-right-icon"></div>

		<div class="home-brand-content-message" style="">
			<div class="home-brand-box" style="display: flex; flex-direction: column; height: 100%;">
				<h1>{{ .Message }}</h1>
				<div style="flex: 1;">
					{{ partial "message.html" . }}
				</div>
			</div>
		</div>

	</div>
</div>

</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const bannerIMG = document.getElementById('imgtototo');
		const text = document.getElementById('texttototo');
		let initialTop = parseInt(bannerIMG.style.top);
		let initialRight = parseInt(bannerIMG.style.right);
	
		// 设置最大偏移量
		const maxOffset = 50;
	
		// 鼠标移动事件处理函数
		function handleMouseMove(e) {
			// 计算偏移量并限制在最大偏移范围内
			let offsetTop = Math.min(maxOffset, Math.max(-maxOffset, e.clientY / 20 - initialTop));
			let offsetRight = Math.min(maxOffset, Math.max(-maxOffset, e.clientX / 20 - initialRight));
	
			bannerIMG.style.top = (initialTop + offsetTop) + 'px';
			bannerIMG.style.right = (initialRight - offsetRight) + 'px'; // 注意这里使用减号，因为right属性是从右边开始计算的
			text.style.top = (initialTop + offsetTop) + 'px';
			text.style.right = (initialRight + offsetRight) + 'px'; // 注意这里使用减号，因为right属性是从右边开始计算的
	
			console.log(`Top: ${bannerIMG.style.top}, Right: ${bannerIMG.style.right}`);
		}
	
		// 添加鼠标移动监听器
		document.addEventListener('mousemove', handleMouseMove);
	
		// 当鼠标移出窗口时，重置位置
		document.addEventListener('mouseleave', function() {
			bannerIMG.style.top = initialTop + 'px';
			bannerIMG.style.right = initialRight + 'px';
			text.style.top = initialTop + 'px';
			text.style.right = initialRight + 'px';
		});
	});
	</script>