{{/* 构造分类权重映射 */}}
{{ $catRaw := site.Params.categories }}
{{ $catWeight := dict }}
{{ range $k, $v := $catRaw }}
  {{ $catWeight = merge $catWeight (dict $k $v.weight) }}
{{ end }}

{{/* 组合排序对象 */}}
{{ $sorted := slice }}
{{ range where .Site.Pages "Section" "posts" }}
  {{ if and (eq .Params.position "home") (eq .Params.arrange "horizontal") }}
    {{ $cat := index .Params.categories 0 | default "其它" }}
    {{ $w := index $catWeight $cat | default 999 }}
    {{ $sorted = $sorted | append (dict "Page" . "CategoryWeight" $w) }}
  {{ end }}
{{ end }}

{{ return (sort $sorted "CategoryWeight" "asc") }}