
<body>

{{ partial "blog/header.html" . }}

<main>

<div class="blog">
  <h1>📚 专属内容</h1>
  <div class="blog-box">
    {{ range sort (where (where .Site.RegularPages "Section" "posts") "Params.category" "intersect" (slice "授权"))
    ".Params.index" "asc" }}
    {{ if eq .Params.position "home" }}
    {{ $context := dict
    "Title" .Title
    "Tags" .Params.tags
    "Position" .Params.position
    "Sitetitle" .Site.Title
    "Permalink" .Permalink
    "Date" .Date
    "Type" .Params.type
    "Image" .Params.image
    "YouTube" .Params.youtube
    "Bilibili" .Params.bilibili
    "Desc" .Params.description
    "Weight" .Params.weight
    "Index" .Params.index
    }}
    {{ partial "blog/blog-list.html" $context }}
    {{ end }}
    {{ end }}
  </div>

  <h1>📜 我的日志</h1>
  <div class="blog-box">
    {{ range sort (where (where .Site.RegularPages "Section" "posts") "Params.position" "eq" "home") ".Params.weight"
    "asc" }}
    {{/* 判断 category 数组是否不包含 "授权" */}}
    {{ if not (in .Params.category "授权") }}
    {{ $context := dict
    "Title" .Title
    "Tags" .Params.tags
    "Position" .Params.position
    "Sitetitle" .Site.Title
    "Permalink" .Permalink
    "Date" .Date
    "Type" .Params.type
    "Image" .Params.image
    "YouTube" .Params.youtube
    "Bilibili" .Params.bilibili
    "Desc" .Params.description
    "Weight" .Params.weight
    }}
    {{ partial "blog/blog-list" $context }}
    {{ end }}
    {{ end }}
  </div>

  {{ partial "blog/blog-banner.html" . }}
  {{ partial "social.html" . }}
</div>



</main>

{{ partial "blog/footer.html" . }}

</body>